.number-wrapper {
    position: relative;
}

.number-wrapper:after,
.number-wrapper:before {

    position: absolute;
    right: 10px;
    width: 1em;
    height: 1em;
    font-size: 10px;
    pointer-events: none;
}

.number-wrapper:after {
    color: white;
    content: "\25B3";
    top: 0;

}

.number-wrapper:before {
    color: white;
    content: "\25BD";

    bottom: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    opacity: 0;

}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}


.date-input {
    background-color: transparent;
    color: white;
    position: relative;
}

/* Hide the actual date fields initially */
.date-input::-webkit-datetime-edit-month-field,
.date-input::-webkit-datetime-edit-day-field,
.date-input::-webkit-datetime-edit-year-field,
.date-input::-webkit-datetime-edit-text {
    display: none;
}

/* Add a custom placeholder when there's no date value */
.date-input.has-placeholder::before {
    content: attr(placeholder);
    color: white;
    position: absolute;
    left: 0;
}




.dateShow::-webkit-datetime-edit-month-field,
.dateShow::-webkit-datetime-edit-day-field,
.dateShow::-webkit-datetime-edit-year-field,
.dateShow::-webkit-datetime-edit-text {
    display: inline-block;
}

.dateHide::-webkit-datetime-edit-month-field,
.dateHide::-webkit-datetime-edit-day-field,
.dateHide::-webkit-datetime-edit-year-field,
.dateHide::-webkit-datetime-edit-text {
    display: none;
}




.dateHide input[type="date"]:not(.has-value):before {
    color: white;
    position: absolute;
    content: attr(placeholder);

}

input[type="date"]:not(.has-value):before {
    color: white;
    position: absolute;
    content: attr(placeholder);

}