.slick-next,
.slick-prev {
    border-radius: 50%;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
    position: absolute;
    color: "#FF6347";
    width: 34px;
    height: 34px;
    top: -64px;
    right: 20px;
    padding: 14px;
}

.slick-prev {
    position: absolute;
    left: 88%;
}

.slick-slide {
    padding: 0 10px;
    /* Adds horizontal spacing */
}

.slick-list {
    margin: 0 -10px;
    /* Adjusts the carousel edges to align properly */
}

@media (max-width: 856px) {
    .slick-prev {

        left: 85%;
    }
}

@media (max-width: 670px) {
    .slick-prev {
        left: 40%;
        top: 120%;
    }

    .slick-next {
        left: 55%;
        top: 120%;
    }
}